DB_USER="root"
DB_PASS="asdf1234"
KEYCLOAK_DB_PASSWORD="asdf1234"
DB_URL="mongodb://${DB_USER}:${DB_PASS}@localhost:64000/INBCM?authSource=admin"
QUEUE_URL="amqp://guest:guest@localhost"
JWT_SECRET="JwMHWAGtwjeQWKr2yYMu7vsXHaIdoKIN"
PUBLIC_SITE_URL="https://localhost:5174"
ADMIN_SITE_URL="https://localhost:5173"
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
METABASE_SITE_URL=https://metabase.dev.inbcm.ifrn.tainacan.org
METABASE_SECRET_KEY=your_metabase_secret_key
METABASE_DASHBOARD_ID=3
EMAIL_HOST="smtp.resend.com"
EMAIL_PORT="465"
EMAIL_USER="resend"
EMAIL_PASS="your_email_password"
EMAIL_FROM="INBCM <inbcm@example.com>"

# Cron de processamento de uploads
# Formato cron: "*/2 * * * *" = a cada 2 minutos
CRON_UPLOAD_INTERVAL="*/2 * * * *"

# "inline" = mesmo processo do servidor
# "worker" = processo separado
CRON_MODE="inline"

# Bucket MinIO
MINIO_BUCKET="inbcm"
