{{#> layout title="[INBCM] Seu acesso ao INBCM foi aprovado!" }}

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Olá, {{nome}},</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Seu cadastro na plataforma INBCM foi aprovado. Agora você pode acessar o sistema utilizando as credenciais abaixo:</p>


<ul style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; padding: 0;">
  <li style="margin-bottom: 16px;">E-mail: {{email}}</li>
  <li style="margin-bottom: 16px;">Senha temporária: {{senha}}</li>
</ul>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Por motivos de segurança, altere sua senha no primeiro acesso.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Para acessar a plataforma, clique no link abaixo:</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  {{url}}</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Se você não realizou essa solicitação ou precisa de suporte, entre em contato com nossa equipe de administração.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Atenciosamente,</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Equipe INBCM</p>

{{/layout}}
