{{#> layout title="[INBCM] Novo usuário solicitou acesso ao INBCM" }}

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Um novo usuário solicitou acesso à plataforma INBCM.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Por favor, acesse o painel de administração para revisar e aprovar o cadastro.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Dados do usuário:</p>

<ul style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  <li><strong>Nome:</strong> {{nome}}</li>
  <li><strong>E-mail:</strong> {{mail}}</li>
  <li><strong>Horário da solicitação:</strong> {{horario}}</li>
</ul>
<br><hr><br>
<div style="text-align: center;">
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    Acesse o sistema para gerenciar as solicitações de acesso:
  </p>

  <a href="{{url}}" style="font-family: Helvetica, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; background-color: #1351b4; padding: 10px 24px; border-radius: 30px; display: inline-block;">
    Gestão de usuários
  </a>
</div>



{{/layout}}
