{{#> layout title="[INBCM] Seu acesso ao INBCM foi não foi aprovado." }}

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Olá, {{nome}},</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Após análise, sua solicitação de acesso à plataforma INBCM não foi aprovada.</p>


<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Se precisar de mais informações sobre os motivos da reprovação ou desejar reenviar sua solicitação, entre em contato com nossa equipe.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Atenciosamente,</p>

<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
  Equipe INBCM</p>

{{/layout}}
